extends ../inc/layout.pug

block append vars
	- title = 'Внедряем Битрикс24 в ваш бизнес';

block content
	-
		var promoData = {
			title: 'Внедряем Битрикс24 <br/>в ваш бизнес',
			subtitle: 'Автоматизируем процессы, интегрируем со всеми необходимыми сервисами, обучаем сотрудников',
			btnText: 'Рассчитать стоимость',
			rows: [
				[
					'#Медицина',
					'#Юриспруденция',
					'#Промышленность',
					'#Культура',
					'#IT',
					'#Транспорт',
					'#Госсектор',
					'#ЖКХ',
					'#Сельское хозяйство',
					'#Строительство',
					'#Финансы',
					'#Образование',
					'#Торговля',
					'#Телекоммуникации',
					'#СМИ',
					'#Туризм',
					'#Спорт',
					'#Развлечения',
					'#Шоу-бизнес',
					'#Реклама',
					'#Общепит',
					'#Логистика',
					'#Бизнес-услуги',
					'#Недвижимость',
					'#Госсектор',
				],
				[
					'#Медицина',
					'#Юриспруденция',
					'#Промышленность',
					'#Культура',
					'#IT',
					'#Транспорт',
					'#Госсектор',
					'#ЖКХ',
					'#Сельское хозяйство',
					'#Строительство',
					'#Финансы',
					'#Образование',
					'#Торговля',
					'#Телекоммуникации',
					'#СМИ',
					'#Туризм',
					'#Спорт',
					'#Развлечения',
					'#Шоу-бизнес',
					'#Реклама',
					'#Общепит',
					'#Логистика',
					'#Бизнес-услуги',
					'#Недвижимость',
					'#Госсектор',
				],
			]
		};
		var infoBlock = {
			title: 'Решаем проблемы эффективности бизнеса',
			img: 'implement.svg',
			link: 'Подробнее о возможностях Битрикс24',
			slides: [
				{
					caption: 'Коммуникации',
					text: 'Формы на сайте, онлайн-консультант, электронная почта, телефония, соцсети и мессенджеры. Соберём всё общение с клиентом в одном окне и сохраним историю коммуникации.',
				},
				{
					caption: 'Игра',
					text: 'Формы на сайте, онлайн-консультант, электронная почта, телефония, соцсети и мессенджеры. Соберём всё общение с клиентом в одном окне и сохраним историю коммуникации.',
				},
				{
					caption: 'Секция',
					text: 'Формы на сайте, онлайн-консультант, электронная почта, телефония, соцсети и мессенджеры. Соберём всё общение с клиентом в одном окне и сохраним историю коммуникации.',
				},
				{
					caption: 'Какая-то секция',
					text: 'Формы на сайте, онлайн-консультант, электронная почта, телефония, соцсети и мессенджеры. Соберём всё общение с клиентом в одном окне и сохраним историю коммуникации.',
				},
				{
					caption: 'Управление',
					text: 'Формы на сайте, онлайн-консультант, электронная почта, телефония, соцсети и мессенджеры. Соберём всё общение с клиентом в одном окне и сохраним историю коммуникации.',
				},
				{
					caption: 'Настройка',
					text: 'Формы на сайте, онлайн-консультант, электронная почта, телефония, соцсети и мессенджеры. Соберём всё общение с клиентом в одном окне и сохраним историю коммуникации.',
				},
				{
					caption: 'Экзамен',
					text: 'Формы на сайте, онлайн-консультант, электронная почта, телефония, соцсети и мессенджеры. Соберём всё общение с клиентом в одном окне и сохраним историю коммуникации.',
				},
				{
					caption: 'Тест',
					text: 'Формы на сайте, онлайн-консультант, электронная почта, телефония, соцсети и мессенджеры. Соберём всё общение с клиентом в одном окне и сохраним историю коммуникации.',
				},
			],
		};

	+promo(promoData)
	+info(infoBlock)

	include ../layouts/connect.pug
	include ../layouts/integration.pug
	include ../layouts/reasons.pug
	include ../layouts/certificates.pug
	include ../layouts/contact.pug
