extends ../inc/layout.pug

block append vars
	- title = 'Возможности Битрикс24';

block content
	-
		var promoData = {
			title: 'Возможности <br/>Битрикс24',
			subtitle: 'Автоматизируем процессы, интегрируем со всеми необходимыми сервисами, обучаем сотрудников',
			btnText: 'Заказать внедрение',
			rows: [
				[
					'#Медицина',
					'#Юриспруденция',
					'#Промышленность',
					'#Культура',
					'#IT',
					'#Транспорт',
					'#Госсектор',
					'#ЖКХ',
					'#Сельское хозяйство',
					'#Строительство',
					'#Финансы',
					'#Образование',
					'#Торговля',
					'#Телекоммуникации',
					'#СМИ',
					'#Туризм',
					'#Спорт',
					'#Развлечения',
					'#Шоу-бизнес',
					'#Реклама',
					'#Общепит',
					'#Логистика',
					'#Бизнес-услуги',
					'#Недвижимость',
					'#Госсектор',
				],
				[
					'#Медицина',
					'#Юриспруденция',
					'#Промышленность',
					'#Культура',
					'#IT',
					'#Транспорт',
					'#Госсектор',
					'#ЖКХ',
					'#Сельское хозяйство',
					'#Строительство',
					'#Финансы',
					'#Образование',
					'#Торговля',
					'#Телекоммуникации',
					'#СМИ',
					'#Туризм',
					'#Спорт',
					'#Развлечения',
					'#Шоу-бизнес',
					'#Реклама',
					'#Общепит',
					'#Логистика',
					'#Бизнес-услуги',
					'#Недвижимость',
					'#Госсектор',
				],
			]
		};
		var infoBlock = {
			title: 'Приложения',
			subtitle: 'Расширяйте возможности вашего <strong>Битрикс24</strong> c помощью магазина приложений. Более 1.5 тысяч уже готовых решений будут <strong>доступны вам по подписке</strong> на Маркет Битрикс24.',
			img: 'opportunities.svg',
			link: '*Оформить подписку к магазину приложений можно только на платных тарифах Битрикс24.',
			slides: [
				{
					caption: 'Соцсети и мессенджеры',
					text: 'Интеграции с любыми мессенджерами и соцсетями: Instagram, ВКонтакте, Facebook, WhatsApp, Viber, Telegram, Avito и др. за пару кликов.',
				},
				{
					caption: 'Почта',
					text: 'Формы на сайте, онлайн-консультант, электронная почта, телефония, соцсети и мессенджеры. Соберём всё общение с клиентом в одном окне и сохраним историю коммуникации.',
				},
				{
					caption: 'Сайт или что-то',
					text: 'Формы на сайте, онлайн-консультант, электронная почта, телефония, соцсети и мессенджеры. Соберём всё общение с клиентом в одном окне и сохраним историю коммуникации.',
				},
			],
			price: {
				rates: [
					{
						slide: true,
						title: 'Базовый',
						price: [
							{
								title: 'Месяц',
								num: '2 490 р.',
							},
							{
								title: 'Год',
								subtitle: 'Скидка -30%',
								sale: '29 880 р.',
								num: '20 916 р.',
							},
							{
								title: '2 года',
								subtitle: 'Скидка -30%',
								sale: '29 880 р.',
								num: '20 916 р.',
							},
						]
					},
					{
						slide: true,
						title: 'Стандартный',
						price: [
							{
								title: 'Месяц',
								num: '2 490 р.',
							},
							{
								title: 'Год',
								subtitle: 'Скидка -30%',
								sale: '29 880 р.',
								num: '20 916 р.',
							},
							{
								title: '2 года',
								subtitle: 'Скидка -30%',
								sale: '29 880 р.',
								num: '20 916 р.',
							},
						]
					},
					{
						slide: true,
						title: 'Профессиональный',
						price: [
							{
								title: 'Месяц',
								num: '2 490 р.',
							},
							{
								title: 'Год',
								subtitle: 'Скидка -30%',
								sale: '29 880 р.',
								num: '20 916 р.',
							},
							{
								title: '2 года',
								subtitle: 'Скидка -30%',
								sale: '29 880 р.',
								num: '20 916 р.',
							},
						]
					},
				]
			}
		};
		var firstPrice = {
			bg: true,
			title: 'Цены и тарифы',
			rates: [
				{
					slide: true,
					title: 'Базовый',
					subtitle: 'Для эффективной работы небольших компаний и отделов продаж',
					features: [
						{
							bg: true,
							header: '5 пользователей',
						},
						{
							header: '24 Гб',
							subheader: 'Хранилище',
						}
					],
					price: [
						{
							title: 'Месяц',
							num: '2 490 р.',
						},
						{
							title: 'Год',
							subtitle: 'Скидка -30%',
							sale: '29 880 р.',
							num: '20 916 р.',
						},
						{
							title: '2 года',
							subtitle: 'Скидка -30%',
							sale: '29 880 р.',
							num: '20 916 р.',
						},
					]
				},
				{
					slide: true,
					title: 'Стандартный',
					subtitle: 'Для совместной работы всей компании или рабочих групп',
					features: [
						{
							bg: true,
							header: '50 пользователей',
						},
						{
							header: '100 Гб',
							subheader: 'Хранилище',
						}
					],
					price: [
						{
							title: 'Месяц',
							num: '2 490 р.',
						},
						{
							title: 'Год',
							subtitle: 'Скидка -30%',
							sale: '29 880 р.',
							num: '20 916 р.',
						},
						{
							title: '2 года',
							subtitle: 'Скидка -30%',
							sale: '29 880 р.',
							num: '20 916 р.',
						},
					]
				},
				{
					slide: true,
					title: 'Профессиональный',
					subtitle: 'Для максимальной автоматизации всех процессов в компании',
					features: [
						{
							bg: true,
							header: '∞ пользователей',
						},
						{
							header: '1 024 Гб',
							subheader: 'Хранилище',
						}
					],
					price: [
						{
							title: 'Месяц',
							num: '2 490 р.',
						},
						{
							title: 'Год',
							subtitle: 'Скидка -30%',
							sale: '29 880 р.',
							num: '20 916 р.',
						},
						{
							title: '2 года',
							subtitle: 'Скидка -30%',
							sale: '29 880 р.',
							num: '20 916 р.',
						},
					]
				},
			]
		};

	+promo(promoData)
	include ../layouts/faq.pug
	+price(firstPrice)
	+info(infoBlock)
	include ../layouts/contact.pug
